<ion-header>
  <ion-toolbar>
    <ion-title slot="start" >
      <span  style="display:flex; flex-direction:column; text-align: center;">
        
        <span style="display: flex; flex-direction: row;align-items: center !important;">
          
          <span style="display: flex; flex-direction: column;margin-right: 1px;">
            
            <p style='margin-right: 5px; margin-bottom: 1px;'>{{ dataClima.place }} </p>
            <span style="display: flex; flex-direction: row">
              <p style='margin-right: 5px; margin-left: 0.3px;'>{{ dataClima.temp_act }} °C </p>
              <img style="width: 35px; height: 35px;" [src]="iconStr" alt="">
            </span>
          </span>
          
          <span style="display: flex; flex-direction: column;">
            <p style=' margin-bottom: 0.1px'>Max: {{ dataClima.temp_max }}°C </p>  
            <p style=' margin-bottom: 0.1px;margin-top: 0.1px'>———</p>
            <p style=" margin-top: 0.1px">Min: {{ dataClima.temp_min }}°C</p>
          </span>
        </span>
        
        
      </span>
    </ion-title>
    <!-- <ion-title class="ion-title-1" slot="end" style="margin-right: 3px"></ion-title> -->
    <ion-title  slot="end">
      <span style="display: flex; flex-direction: row !important; align-items: center; margin-right: 1px; justify-content: flex-end">
        <p class="p-bienvenidos">
          Bienvenido: {{usuario.nombre}} {{usuario.ap_paterno}}
        </p>
        <section>
          <img alt="logo" class="tamanio-logo" src="../../../assets/img/logoregistro.png">
          
        </section>

      </span>
    </ion-title>
    
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button (click)="logout()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
      </ion-tab-button>
      
      <ion-tab-button tab="profesor/{{usuario.id}}" *ngIf="usuario.tipo_usuario == 'profesor'">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Clases</ion-label>
        
      </ion-tab-button>

      <ion-tab-button tab="alumno/{{usuario.id}}" *ngIf="usuario.tipo_usuario == 'alumno'">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
        <ion-label>Asistir a clases</ion-label>
        
      </ion-tab-button>

      <ion-tab-button tab="administrador/{{usuario.id}}" *ngIf="usuario.tipo_usuario == 'administrador'">
        <ion-icon name="file-tray-stacked-outline"></ion-icon>
        <ion-label>Administrar</ion-label>
        
      </ion-tab-button>

      <ion-tab-button tab="perfil/{{usuario.id}}">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>



      

    </ion-tab-bar>
  </ion-tabs>

</ion-content>